.box1{
    height: 168px;
    width: 305px;
    background-color:white;
    border: 1px solid rgb(243, 8, 243);
}
.box2{
    height: 121px;
    width: 657px;
    background-color: white;
    border: 3px dashed black;
}
.box3{
    height: 95px;
    width: 399px;
    background-color: white;
    border: 3px solid rgb(20, 228, 38);
}
.box4{
    height: 173px;
    width: 1097px;
    background-color:#247DAF;
    border: 3px solid #736e42;
}
